body {
	color: #000;
	font-family: sans-serif;
}

*, *:after, *:before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*------------------*/
.container {
	display: flex;
	max-width: 960px;
	margin: 20px auto;
	background-color: #eaeaea;
}

.profile {
	max-width: 350px;
	background-color: #39383a;
	color: #ababab;
}

.profile-photo {
	 height: 270px;
	 background-image: url(../img/photo.jpg);
	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
}

.profile-info {
	padding: 50px 30px 70px;
}

.heading {
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 16px;
}

.heading-light {
	color: #fff;
	border-bottom: 2px dashed #5a5a5a;
}

.profile-text {
	font-size: 13px;
	line-height: 25px;
	margin-bottom: 25px;
}

.contacts {
	margin-bottom: 70px;
}

.contacts-item {
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 2px dashed #5a5a5a;
}

.contacts-title {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 13px;
	color: #fff;
}

.contacts-text {
	padding-left: 27px;
	line-height: 21px;
}

address {
	font-style: normal;
}

.fas {
	margin-right: 7px;
}

.languages {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
}

.language {
	width: 100px;
	height: 100px;
	border: 6px solid #5c5c5c;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
	margin-right: 30px;
}

.language-text {
	font-size: 11px;
	text-transform: uppercase;
}

.language-per {
	font-size: 15px;
}